<!DOCTYPE html>
<html lang="en" ng-app="deManuMineur">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <title>Demineur</title>
</head>
<body>

    <style>
        .hiddenCell {
            background-color: #9bffe0;
        }
        .bombCell {
            background-color: red;
        }
        .cell {
            background-color: #5fff74;
        }

    </style>


    <div ng-controller="deManuMineurController as Ctrl" ng-clock="">

        <div ng-repeat="row in Ctrl.coordinates track by $index" layout="row">

            <md-button aria-label="clickclick" ng-repeat="cell in row track by $index" ng-click="Ctrl.demineur.click($index, $parent.$index)"
                       ng-class='Ctrl.getClass(cell)'>

                <div ng-if="Ctrl.getValue(cell) === false"></div>
                <div ng-if="Ctrl.getValue(cell) === -1"></div>
                <div ng-if="Ctrl.getValue(cell) === 0"></div>
                <div ng-if="Ctrl.getValue(cell) !== false && Ctrl.getValue(cell) !== -1 && Ctrl.getValue(cell) !== 0">{{ Ctrl.getValue(cell) }}</div>


            </md-button>

        </div>


        <md-input-container>
            <label>Mine number</label>
            <input ng-model="Ctrl.mineNumber">
        </md-input-container>
        <md-input-container>
            <label>Size</label>
            <input ng-model="Ctrl.size" type="number">
        </md-input-container>
        <md-button aria-label="new" ng-click="Ctrl.new(Ctrl.size,Ctrl.mineNumber)">New</md-button>


    </div>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="Coordinate.js"></script>
    <script src="DemineurGridBuilder.js"></script>
    <script src="Demineur.js"></script>

    <script src="app.js"></script>

</body>
</html>